certifi==2019.3.9
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==3.7.4
decorator==4.4.0
fitz==0.0.1.dev2
funcsigs==1.0.2
future==0.17.1
httplib2==0.12.3
idna==2.8
isodate==0.6.0
lxml==4.3.3
networkx==2.3
neurdflib==5.0.0.post1
nibabel==2.4.1
nipype==1.2.0
numpy==1.16.4
packaging==19.0
pandas==0.24.2
pathlib2==2.3.3
Pillow==6.0.0
prov==1.5.3
pydot==1.4.1
pydotplus==2.0.2
PyMuPDF==1.14.16
pyparsing==2.4.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
pytesseract==0.2.6
python-dateutil==2.8.0
pytz==2019.1
pyxnat==1.1.0.0
rdflib==4.2.2
requests==2.22.0
scipy==1.3.0
simplejson==3.16.0
sip==4.19.8
six==1.12.0
traits==5.1.1
urllib3==1.25.3
wxPython==4.0.6
